.content_notification {
  position: relative;
}

.counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 25%;
  font-size: 10px;
  position: absolute;
  left: 32px;
  top: -5px;
}

.icon {
  margin: 0rem 1rem;
  min-width: 0.5rem;
  width: 10%;
}
