.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  width: 100%;
}

.modal_close {
  width: 0%;
}

.modal_open {
  width: 40%;
  transition: width 1s;
  margin-left: 0.5rem;
  min-width: 300px;
}
