.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
}

.content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content_input {
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  min-width: 300px;
  width: 25%;
  padding: 0.5em 0rem;
  margin: 0rem 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.input {
  outline: none;
  color: var(--gray-text);
}

.icon {
  color: var(--dark-blue);
  margin: 0rem 0.5rem;
  min-width: 0.5rem;
  width: 10%;
}
