.default {
  color: var(--light);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.3rem 0.8rem;
  min-width: 100px;
  cursor: pointer;
  &:disabled {
    background-color: var(--disabled);
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  &:hover {
    background-color: var(--light);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
  }
}

.dark {
  @extend .default;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}
.blue {
  @extend .default;
  background-color: var(--blue);
  border: 2px solid var(--dark-blue);
}
.medium {
  @extend .default;
  background-color: var(--medium-blue);
  border: 2px solid var(--dark-blue);
}
.light {
  @extend .default;
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue);
}

.outline {
  color: var(--light-blue);
  border: 0;
  outline: none;
  padding: 0.3rem 0.8rem;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: var(--light);
    border-radius: 5px;
    border: 0;
    outline: none;
  }
  &:focus {
    border: 0;
    outline: none;
  }
}

.button_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
