@import "../../../styles/index.scss";

.client_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0rem;
  width: 100%;
  cursor: pointer;
  @include mq("phone", "max") {
    margin: $m-mbY;
  }
}

.client_content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 0rem;
}

.client_content_childs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 0rem;
}

.childs {
  width: 100%;
  margin: 0rem 0.5rem;
  @include mq("phone", "max") {
    margin: 0;
  }
}

.content_child_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child {
  margin: 0rem 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.content_left {
  @extend .content;
  justify-content: flex-start;
  > p {
    margin-left: 5px;
  }
}

.content_right {
  @extend .content;
  justify-content: flex-end;
  > p {
    margin-left: 5px;
  }
}

.id {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 5em;
  padding: 0.5rem;
  background-color: var(--light-blue);
  margin: 0rem 1rem;
  @include mq("phone", "max") {
    margin: $m-mbX;
  }
}

.client_card_child {
  width: 100%;
  border-top: 1px solid #4299e13b;
  cursor: pointer;
  &:hover {
    background-color: var(--info-light);
  }
}

.show_accounts {
  height: auto;
  /*   transition: height 1s ease-out; */
}

.hidden_accounts {
  height: 0px;
  /*   transition: height 1s ease-in; */
}
