.modal_wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
  height: 100%;
}

.description {
  background: #ffffff;
  padding: 1rem;
  min-width: 50%;
  width: 100%;
  min-height: 50%;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  &:focus {
    outline: none !important;
  }
}
