.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  position: relative;
  width: 100%;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #e0e0e0;
  background-color: white;
  height: 100%;
}

.borderTop {
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0px solid #e0e0e0;
}

.selectedOption {
  display: flex;
  align-items: center;
}

.optionsWrapper {
  background-color: white;
  border: 2px solid #e0e0e0;
  position: absolute;
  top: 38px;
  right: 0;
  left: 0;
  max-height: 200px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
  }
}

.options {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--light);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  font-size: 20px;
  min-width: 25px;
}
