.client {
  display: flex;
  flex-direction: column;
}

.search_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_container {
  min-width: 300px;
  margin: 1rem;
}

.error_title {
  color: #3182ce;
  text-align: center;
  margin-top: 100px;
}
