.client {
  display: flex;
  flex-direction: column;
}

.search_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.error_title {
  color: #3182ce;
  position: absolute;
  left: 50%;
  top: 50%;
}
