.wrapper {
  height: 100vh;
  width: 100%;
}

.container_header {
  display: flex;
  padding: 0.2rem 0rem;
  text-align: center;
}

.header_options {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}

.header_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  width: 75px;
  background: #2c5282;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-width: 75px;
}

.calendar_header {
  background-color: #4299e1;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 150px;
}

.container {
  display: flex;
  border-radius: 10px;
}

.calendar {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex: 8;
}

.rows {
  border-bottom: 1px solid #888;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 150px;
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
  }
}

.rows_false {
  border-bottom: 1px solid #888;
  background-color: #0000001f;
}

.team {
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rows_team {
  border-bottom: 1px solid #888;
  width: 100%;
}

.wrapperCalendarButton {
  min-width: 200px;
}

.outline {
  color: var(--dark-blue);
  font-size: 18px;
  border: 0;
  outline: none;
  padding: 0.2rem 0.5rem;
  margin: 0rem 0.5rem;
  background-color: transparent;
  &:hover {
    background-color: var(--light);
    border-radius: 50%;
    border: 0;
    outline: none;
  }
  &:focus {
    border: 0;
    outline: none;
  }
}

.info_option {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 120px;
  position: fixed;
  top: 150px;
  z-index: 1;
}

.info {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 12px;
  position: relative
}

.status_color {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
}

.options_menu {
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 10px solid #fff;
  border-top: 16px solid transparent;
  right: 20px;
  top: -13px;
  border-radius: 50%;
  transform: rotate(45deg);
}
