.tableWrapper {
  font-family: arial, sans-serif;
  width: 100%;
  height: 100%;
}

.tableHeader {
  background-color: var(--light-blue);
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.tableRow {
  background-color: var(--light);
  border-radius: 10px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0.25rem 0rem;
  margin-top: 0.25rem;
  margin-bottom: 0.55rem;
}

.tableData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}

.tbody {
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
  }
}

.transfer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}

.cardContent {
  height: 100%;
  margin: 0.5rem 1rem;
  overflow: auto;
}