.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--gray-text);
}

.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerChild {
  display: flex;
  align-items: center;
}

.wrapper_content_header {
  display: flex;
  width: 100%;
  height: 30%;
}

.wrapper_content_main {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper_info_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_content_header {
  display: flex;
  width: 100%;
}

.card_container {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  height: 100%;
}

.card_content_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_content {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.card_content_title {
  font-weight: bold;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.card_content_icon {
  margin: 0rem 0.5rem;
}

.error_message_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info_content {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 1rem;
}

.phone_content {
  font-weight: bold;
  margin: 0rem 0.5rem;
  letter-spacing: 0.5px;
  font-family: "Roboto";
}

.team_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
}

.img_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 50px;
  margin: 0rem 0.2rem;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
  margin-left: 0.5rem;
}

.card_title {
  font-family: "Roboto Bold";
  color: black;
}
