@import "../../styles/index.scss";

.container {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  @include mq("phone", "max") {
    justify-content: unset;
    height: 2rem;
    background-color: var(--dark);
    padding: 0rem;
  }
}

.profile_container {
  position: relative;
}

.button {
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0px 0px 6px#4299e1;
  }
}

.img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

.user_content {
  width: 50%;
  & > p {
    border-bottom: 1px solid rgba(160, 174, 192, 0.27);
    padding: 1rem 0rem;
  }
}

.img_selector_content {
  text-align: center;
  margin: 1rem 0rem;
  width: 50%;
}

.form_content {
  display: flex;
  margin: 0.5rem 0rem;
  align-items: center;
}

.form_content > input {
  width: 80%;
  background: none;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  height: 40px;
  &:active {
    color: var(--gray-text);
  }
  &:focus {
    outline: none;
  }
}

.form_content_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.custom_file_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.option {
  width: 40px;
  background-color: #dedede;
  border-radius: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0.5rem;
  min-width: 20px;
  min-height: 20px;
  font-size: 1.4rem;
  position: absolute;
  top: 200px;
  right: 70px;
  cursor: pointer;
  &:hover {
    background-color: #bdbdbd;
  }
}

@media (max-width: 1200px) {
  .form_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: #4299e1;
}

.titleContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

.logo {
  height: 1.5rem;
  object-fit: cover;
}
