.container {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.button {
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 6px#4299e1;
  }
}

.img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
