@import "../../../../../styles/index.scss";

.contentWrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  @include mq("phone", "max") {
    flex-direction: column;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.contentCentered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}

.content {
  height: 100%;
  margin: 0.5rem 1rem;
  overflow: auto;
}
