.container {
  height: 100vh;
  min-width: 4rem;
  border-right-width: 1px;
  background-color: var(--dark);
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #4299e1;
}

.logo {
  height: 2rem;
  object-fit: cover;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.icon {
  color: #2d3748;
  stroke: white;
  stroke-width: 25px;
  font-size: 1.5rem;
  transition: color .2s linear;
  &:hover {
    color: white;
  }
}

.icon_active {
  color: white;
}
