.columns {
  padding: 1rem;
  color: #fff;
}

.rows {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto";
  color: rgba(99, 99, 99, 1);
}

.inner_text {
  margin: 0rem 1rem;
}
