@import "../../../styles/index.scss";
.card_wrapper {
  margin-bottom: 0.5rem;
}

.card {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

.card_container {
  margin: 1rem;
  width: 95%;
  cursor: pointer;
  @include mq("phone", "max") {
    margin: 0rem;
  }
}

.card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_item {
  display: flex;
  align-items: center;
  color: var(--gray-text);
  @include mq("phone", "max") {
    flex-direction: column;
    justify-content: center;
  }
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}

.mh {
  width: 1rem;
  margin: 0rem 1rem;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.button_container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq("phone", "max") {
    margin: 0.5rem;
  }
}

.button {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  color: var(--dark-blue);
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: white;
  }
  &:focus {
    outline: none;
  }
}
