@import "../../styles/mixins";

.wrapper {
  height: 100vh;
  display: flex;
  @include mq('phone', 'max'){
    flex-direction: column;
    justify-content: flex-end;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
  overflow: hidden;
}

.children {
  padding: 1rem;
  overflow: auto;
  height: 100%;
}
